/* stylelint-disable no-empty-source */

main {
  text-align: center;
  padding: 20px;
}

.books-container {
  margin: 0 auto;
  max-width: 700px;
  border: 1px grey solid;
  margin-bottom: 20px; 
  display: flex;
  justify-content: center;
  flex-direction: column;

  
}

.bookdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid gray;
}

.books-container p {
 font-weight: 800;
 font-size: 17px;
 width: 33%;
 text-align:left;
}

 .remove {
   max-width: 10%;;
  width: 33%;
  padding: 10px;
  background-color: red;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.addform {
  width: 40%;
  margin: 0 auto;
  padding: 2%;
}

 .addform h2 {
  margin: 10px auto 20px ;
}

input {
  width: 60%;
  padding: 8px;
}

input:hover {
  border: 1px solid green;
}

#addBtn {
  width: 10%;
  padding: 5px;
margin: auto;
  color: #fff;
  background: rgb(15, 221, 15);
  font-size: 14px;
  font-weight: 500;
  border: 1px solid gray;
}

#addBtn:hover {
  color: rgb(15, 221, 15);
  background: #fff;
  border: 1px solid gray;
}
